---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const paths = posts.flatMap((post) => 
    post.data.tags?.map((tag) => ({ params: { tag } })) ?? []
  );
  return paths;
}

const posts = await getCollection("blog");
const { tag } = Astro.params;
const postsByTag = posts.filter((post) => post.data.tags?.includes(tag));
---

<Base title={tag}>
  <h1>{tag}</h1>
  <ul>
    {
      postsByTag.map((post) => (
        <li>
          <img
            src={post.data.heroImage}
            alt={post.data.title}
            style={{ height: "100px" }}
          />
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
