---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
const friends = await getCollection("friend");
---

<Base title="友链">
  <h1>友链</h1>
  <ul>
    {
      friends.map((friend) => (
        <li style={{ backgroundColor: friend.data.color }}>
          <img src={friend.data.avatar} alt={friend.data.name} style={{ width: '48px', height: '48px' }} />
          <a href={friend.data.link}>{friend.data.name}</a>
          <p>{friend.data.description}</p>
        </li>
      ))
    }
  </ul>
</Base>
