<button
  id="theme-toggle"
  type="button"
  class="md:ml-1 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-500"
>
  <svg
    id="theme-toggle-dark-icon"
    class="hidden md:w-5 md:h-5 w-6 h-6"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
    ><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg
  >
  <svg
    id="theme-toggle-light-icon"
    class="hidden md:w-5 md:h-5 w-6 h-6"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
      fill-rule="evenodd"
      clip-rule="evenodd"></path></svg
  >
</button>
<script>
  /**
   * Credit to [@hooray](https://github.com/hooray)
   * @see https://github.com/vuejs/vitepress/pull/2347
   */
  export function toggleTheme(
    event: MouseEvent,
    themeToggleLightIcon: HTMLElement,
    themeToggleDarkIcon: HTMLElement
  ) {
    const isAppearanceTransition =
      document.startViewTransition() &&
      !window.matchMedia('(prefers-reduced-motion: reduce)').matches;
    const theme_before =
      localStorage.getItem('color-theme') ||
      (document.documentElement.classList.contains('dark') ? 'dark' : 'light');

    if (theme_before === 'light') {
      themeToggleDarkIcon.classList.add('hidden');
      themeToggleLightIcon.classList.remove('hidden');
    } else {
      themeToggleLightIcon.classList.add('hidden');
      themeToggleDarkIcon.classList.remove('hidden');
    }
    if (!isAppearanceTransition) {
      // degrade
      if (theme_before === 'light') {
        document.documentElement.classList.add('dark');
        localStorage.setItem('color-theme', 'dark');
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('color-theme', 'light');
      }
      return;
    }
    const x = event.clientX;
    const y = event.clientY;
    const endRadius = Math.hypot(Math.max(x, innerWidth - x), Math.max(y, innerHeight - y));
    const transition = document.startViewTransition(async () => {
      localStorage.setItem('color-theme', theme_before === 'light' ? 'dark' : 'light');
      document.documentElement.classList.toggle('dark');
      // await nextTick();
    });
    transition.ready.then(() => {
      const clipPath = [`circle(0px at ${x}px ${y}px)`, `circle(${endRadius}px at ${x}px ${y}px)`];
      document.documentElement.animate(
        {
          clipPath: theme_before === 'dark' ? [...clipPath].reverse() : clipPath,
        },
        {
          duration: 300,
          easing: 'ease-in',
          pseudoElement:
            theme_before === 'dark' ? '::view-transition-old(root)' : '::view-transition-new(root)',
        }
      );
    });
  }

  let themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
  let themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
  let themeToggleBtn = document.getElementById('theme-toggle');
  if (themeToggleDarkIcon && themeToggleLightIcon && themeToggleBtn) {
    // Change the icons inside the button based on previous settings
    if (
      localStorage.getItem('color-theme') === 'dark' ||
      (!('color-theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      themeToggleLightIcon.classList.remove('hidden');
    } else {
      themeToggleDarkIcon.classList.remove('hidden');
    }
    themeToggleBtn.addEventListener('click', (e) => {
      toggleTheme(e, themeToggleLightIcon, themeToggleDarkIcon);
    });
  }
</script>
